//Add User

user__adduser {
  padding-top: 10px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.user__adduser > .container > .row > form.quote-form{
    width: 200%;
}
.subClose{
  text-align: center;
  width: 100%;
}
.title{
  text-align: center;
  width: 100%;
}

